.parent{
    width: 500px;
    height: 500px;
    background-color: azure;
    border-color: black;
    border: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.child {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    text-align: center;

}